.active-link {
  background-color: #80848e3d;
  font-weight: 600;
}

.tooltip-container {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.tooltip {
  position: absolute;
  top: calc(100% + 5px);
  left: 0%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
  z-index: 10;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
